* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  --bg-color: rgb(62, 185, 185);
  background-color: white;
  height: 100vh;
  }

ul {
  list-style-type: none;
  }

a {
  text-decoration: none;
  }

/*Шапка*/
.header {
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--bg-color);
  display: flex;
  position: sticky;
}

.top_panel {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  }

.logoPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  }

.logoPanel p {
  margin-left: 20px;
  color: black;
  font-size: 26px;
  font-weight: 700;
  }

.add {
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url('images/add.png');
  background-size: contain;
  border: none;
  background-color: var(--bg-color);
  }

.add:hover {
  background-color: var(--bg-color);
  font-weight: 700;
  cursor: pointer;
  border-radius: 60%;
  border: none;
  color: #fff;
  box-shadow:  0 0 7px rgb(151, 229, 231),
  0 0 42px rgb(139, 240, 243),
  0 0 82px #e6f9ff;
  }

.update {
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url('images/update.svg');
  background-size: contain;
  border-radius: 50%;
  background-color: rgb(62, 185, 185);
  margin-left: 60px;
  margin-right: 20px;
  }

.update:hover {
  background-color: var(--bg-color);
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  box-shadow:  0 0 7px rgb(193, 199, 199),
  0 0 42px rgb(223, 230, 230),
  0 0 82px #eef1f1;
  }

  /*Стили основного контента*/
  .main-content {
    min-height: 100%;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin:40px;
    position: relative;
    height: 100%;
  }

  .cat_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    padding: 15px;
  }

  [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 0;
    border: 1px solid grey;
    background-color: #fff;
    color: var(--bg-color);
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
  }

  [data-tooltip]:hover::after {
    top: 3em;
    left: -15px;
    opacity: 1;
  }

  .cat_card:hover {
    /*наведение на карточку*/
    border: 2px solid var(--bg-color);
    box-shadow:  0 0 7px #1d1b1b, 0 0 82px #81c9df;
  }

  .cat_card_image {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    position: relative;
  }

    /*картинка внутри карточки*/
  .cat_card_image > img {
    width: inherit;
    height: inherit;
    border-radius: 20px;
  }

  .cat_card p {
    margin: 0;
    padding: 0;
    line-height: 2;
  }

  .cat_description{
    font-size: 16px;
    color: #b4b4b4;
  }

  .cat_name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color:black;
  }

  .cat_favorite {
    display: none;
  }

  .cat_favorite.activity {
    position: absolute;
    display: block;
    margin-left: 25%;
    margin-right: 30px;
    cursor: pointer;
  }

  .cat_favorite.activity > img {
    width: 60px;
    height: 60px;
  }

  .cat_card_btns {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
  }


  .cat_card_btns > button {
    background-color:#e7e7e7;
    font-weight: 600;
    width: 95px;
    height: 35px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    border-radius: 10px;
  }

  .cat_card_btns > button:hover {
    background-color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    box-shadow:  0 0 7px rgb(60, 150, 153),
    0 0 42px rgb(74, 185, 189),
    0 0 82px #81c9df;
  }

  /* Модальное окно - добавить кота"*/
  .create_edit_modal_form {
    display: none;
  }

  .active {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 550px;
    height: 530px;
    position: fixed;
    color:#ffffff;
    top: 20%;
    left: 30%;
    background-color: rgb(74, 185, 189);
    box-shadow:    0 0 7px rgb(60, 150, 153),
    0 0 42px rgb(74, 185, 189),
    0 0 82px #81c9df;
    border-radius: 15px;
    z-index: 100;
  }

  .create_edit_modal_title {
    display: flex;
    align-self: center;
    margin:2% auto;
    color:#000000;
  }



  .modal_form > label {
    font-size:18px;
    font-weight: 700;
    display: inline-block;
    padding: 10px 0 10px 0;
    opacity: 0.7;
    cursor: pointer;
    position: relative;
  }

  .modal_form > input {
    border: none;
    outline: none;
    height: 25px;
    width: 450px;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 15px;
    cursor: pointer;
  }

    #favorite {
    width: 50px;
    margin-top: 10px;
  }

  .modal_form > textarea {
    border:none;
    font-size: 18px;
    padding-left: 15px;
    height: 40px;
    width: 450px;
    resize:vertical;
    border-radius: 20px;
  }

  .button_form_submit {
    display: block;
    width: 50px;
    height: 50px;
    margin:0 auto;
    background-image: url("images/ok.svg");
    background-color: rgb(190, 238, 238);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    top: 88%;
    right: 45%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  .button_form_submit:hover {
    background-color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    box-shadow:  0 0 7px rgb(193, 199, 199),
    0 0 42px rgb(223, 230, 230),
    0 0 82px #eef1f1;
  }

  .button_form_close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('images/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: absolute;
    cursor: pointer;
    border: none;
    top: -15px;
    right: -20px;
  }

  .button_form_close:hover {
    background-color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    box-shadow:  0 0 7px rgb(60, 150, 153),
    0 0 42px rgb(74, 185, 189),
    0 0 82px #81c9df;
  }

  /*Модальное окно- Посмотреть кота*/
  .cardView_popup {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .cardView {
    position: relative;
    top: 20%;
    left: 20%;
    z-index: 100;
    width: calc(100% - 40px);
    max-width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid dodgerblue;
    color:#ffffff;
    background-color: #49b3dd3f;
    box-shadow:  0 0 7px rgb(60, 150, 153),
    0 0 42px rgb(74, 185, 189),
    0 0 82px #81c9df;
  }

  .cardView_image {
    width: 100%;
    border: 1px solid silver;
    border-radius: 6px;
    grid-row-start: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
  }

  .cardView_content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    line-height: 2;
    width: 250px;
    position: relative;
  }

  .card_name{
    color: #07e4d9;
    font-size: 20px;
    font-weight: 700;
  }

  .card_description,
  .card_rate,
  .card_age{
    font-size: 16px;
    font-style: italic;
  }

  .cardView_exit {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('images/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: absolute;
    top: -40px;
    right: -35px;
    cursor: pointer;
    z-index: 100;
  }

  .cardView_exit:hover {
    background-color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    box-shadow:  0 0 7px rgb(60, 150, 153),
    0 0 42px rgb(74, 185, 189),
    0 0 82px #81c9df;
  }

  /*подвал*/
  .footer {
    width: 100%;
    height: 70px;
    background-color: var(--bg-color);
    position: sticky;
    margin-top: 60px;
  }
  
  .footer-content {
    width: 90%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .copyright {
    color: black;
    font-size: 20px;
    line-height: 20px;
    font-family: segoe print, Helvetica, sans-serif;
  }

  .footer-contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }
  
  .footer-contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .classgit:hover {
    background-color: var(--bg-color);
    cursor: pointer;
    border-radius: 60%;
    color: #fff;
    box-shadow:  0 0 7px rgb(193, 199, 199),
    0 0 42px rgb(223, 230, 230),
    0 0 82px #eef1f1;
  }

/*Адаптив мобилки*/
/* 
  @media (max-width: 720px) {
    header {
      padding: 10px;
    }
  
    .header__logo {
      height: 20px;
    }
  
    header a {
      margin-right: 10px;
    }
  
    .about {
      flex-direction: column-reverse;
      padding: 100px 10px 50px;
    }
  
    .about h1 {
      font-size: 36px;
      line-height: 40px;
    }
  
    .about__image {
      width: 280px;
    }
  
    .about__sun-image {
      width: 75px;
      height: 75px;
    }
  
    .form {
      padding: 50px 10px;
    }
    .snow {
      width: 100%;
    }
    .form h1 {
      font-size: 36px;
    }
  
    footer {
      padding: 50px 10px;
    }
  
    .footer__container {
      flex-direction: column;
    } 
    */
